parameters:
    database_driver:   pdo_pgsql
    database_host:     localhost
    database_port:     ~
    database_name:     betcha
    database_user:     betcha
    database_password: betcha

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            de
    secret:            la+dLKJ-93e0äö*1#ä21098321ß0
